@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #020005;
    color: white;
    overflow: hidden;
    margin: 0;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .glass {
    background: rgba(2, 5, 10, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 243, 255, 0.3);
  }
  .holo-text {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.7);
  }
}
